@tailwind base;

@layer base {
    .content {
        @apply w-[32rem] gap-4 flex flex-col items-center;
    }
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viga&display=swap');

:root {
    --background: #0E1014;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body {
    background-color: var(--background);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.bob {
    background-color: #1C1F23;
    border: 1px solid #24262B;
    border-radius: 8px;
    padding: 12px;
}

input {
    border-radius: 8px;
}

.button {
    padding: 12px 32px;
    background: linear-gradient(91.92deg, #F7A92F 0%, #F16B1F 100%);
    color: #311903;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    --webkit-user-select: none;
    user-select: none;
}

.button-inactive {
    padding: 12px 32px;
    background: linear-gradient(91.92deg, #af8a4d 0%, #ac7251 100%);
    color: #352a20;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    --webkit-user-select: none;
    user-select: none;
    cursor: default;
}


img.card {
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -14px;
    transition: all 0.2s ease-in-out;
}

img.card:not(.card-selected) {
    filter: drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.5));
}

.card-selected {
    z-index: 100;
    scale: 1.15;
    filter: drop-shadow(0px 0px 3px rgba(238, 100, 22, 0.75))
            drop-shadow(0px 0px 9px rgba(254, 235, 65, 0.8));
    transition: all 0.15s ease-in-out;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#discard img.card {
    bottom: 0;
    position: absolute;
}

#deck img.card {
    bottom: 0;
    right: 0;
    position: absolute;
}



.content {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

#my-cards , #card-number, #buttons-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    overflow-x: auto;
}

#card-number li {
    display: flex;
    gap: 8px;
}

#my-cards {
    width: 100vw;
    left: 0;
    bottom: 0;
    padding: 3rem 3rem;
    overflow: visible;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#my-cards::-webkit-scrollbar { /* WebKit */
    display: none;
}

#my-cards li {
    width: 10px;
    height: 10px;
    background-color: #3a3a3a;
    color: white;
    padding: 6px;
}

#top, #bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

#center {
    display: flex;
    gap: 120px;
}

#discard, #deck {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 16rem;
}

/**
* The Modal
*/
.modal {
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.modal-body span {
    display: flex;
    gap: 16px;
}

.modal-body h1 {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.modal-body h3 {
    font-size: 1.25rem;
    color: white;
}

/** Alert **/
.alert {
    border-radius: 12px;
    padding: 24px;
    gap: 24px;
    background: #1C1F23;
    border: 1px solid #24262B;
}

.alert.success {
    box-shadow: inset 0px -4px 0px #217E19;
}

.alert.info {
    box-shadow: inset 0px -4px 0px #2667B2;
}

.alert.error {
    box-shadow: inset 0px -4px 0px #B02828;
}

.alert.warning {
    box-shadow: inset 0px -4px 0px #DDB939;
}